@model ESPM.Models.Definicao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Definicao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Maximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apresentacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apresentacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignificadoZero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignificadoZero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignificadoOutro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignificadoOutro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nome }) |
    @Html.ActionLink("Back to List", "Index")
</p>
