@model ESPM.Areas.Gestao.Models.AutorizacaoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>De certeza que pretende bloquear esta autorização?</h3>
<div>
    <h4>Autorizacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aplicacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aplicacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizador)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Validade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validade)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Bloquear" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
