@model IEnumerable<ESPM.Areas.Gestao.Models.AutorizacaoViewModel>

@{
    ViewBag.Title = "Autorizações";
}

<h2>Autorizações</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Validade
        </th>
        <th>
            Utilizador
        </th>
        <th>
            Aplicação
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Validade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilizador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aplicacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
