@model IEnumerable<ESPM.Models.Definicao>

@{
    ViewBag.Title = "Definições";
}

<h2>Definições</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apresentacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apresentacao)
                </td>
                <td>
                    @if (item.Maximo == 0)
                    {
                        @Html.TextBox(item.Nome, item.Valor, new { @class = "form-control", type = "number", min = 0 });
                    }
                    else if (item.Maximo == 1)
                    {
                        @Html.CheckBox(item.Nome, item.Valor != 0);
                    }
                    else
                    {
                        @Html.TextBox(item.Nome, item.Valor, new { @class = "form-control", type = "number", min = 0, max = item.Maximo });
                    }
                </td>
            </tr>
        }

    </table>

    <input type="submit" value="Guardar" class="btn btn-default" />

    <span class="@ViewBag.Classe">@ViewBag.Mensagem</span>
}